<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Dream Job</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link active" th:href="@{/}">Home</a>
                <a class="nav-item nav-link" th:href="@{/vacancies}">Vacancies</a>
                <a class="nav-item nav-link" th:href="@{/candidates}">Candidates</a>
                <a class="nav-item nav-link" th:href="@{/vacancies/create}">Create vacancy</a>
                <a class="nav-item nav-link" th:href="@{/candidates/create}">Create resume</a>
            </div>
            <div class="d-flex" th:if="${user.name == 'Guest'}">
                <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Sign up</a>
                <a class="nav-link text-secondary" th:href="@{/users/login}">Sign in</a>
            </div>
            <div class="d-flex" th:if="${user.name != 'Guest'}">
                <a class="nav-link text-secondary mr-3" href="#" th:text="${user.name}"></a>
                <a class="nav-link text-secondary" th:href="@{/users/logout}">Log out</a>
            </div>
        </div>
    </div>
</nav>
</html>